.sidebar-overlay {
  position: fixed;
  top: 75px;
  left: 0;
  width: 250px;
  height: calc(100vh - 75px);
  z-index: 99999;
  background: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
  padding: 30px;
}
.sidebar-logout-btn {
  height: 40px;
  width: 100%;
  background-color: rgb(190, 28, 28);
  color: white;
  cursor: pointer;
  border: none;
}
.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav-link {
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}
.sidebar-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
@media (min-width: 768px) {
  .sidebar-close-btn {
    display: none;
  }
}
